*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: darkkhaki;
}
.row .digital-clock h2{
    font-size: 50px;
}
div#txt {
    text-align: center;
    font-size: 50px;
}